﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="MLogin.aspx.cs" Inherits="KTSSolutionWeb.MLogin" EnableEventValidation="false" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta http-equiv="Cache-Control" content="no-cache" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>kt Service 북부 업무지원시스템</title>
    <script type="text/javascript">
        window.location.href = "https://mbss.ktservice.co.kr";
    </script>
</head>
<body>
    <form id="form1" runat="server">
    </form>
</body>
</html>
