﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="ToolStatByDetailPopup.aspx.cs" Inherits="KTSSolutionWeb.ToolStatByDetailPopup" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>상세리스트</title>
    <asp:PlaceHolder runat="server">
        <%: Scripts.Render("~/Common") %>
    </asp:PlaceHolder>
    <webopt:bundlereference runat="server" path="~/Content/css" />
    <script type="text/javascript" src="/Resource/js/polyfill.js"></script>
    <script type="text/javascript" src="/Resource/js/tabulator.min.js?20240624"></script>
    <script type="text/javascript" src="/Resource/js/kts_tabulator.js"></script>
    <script type="text/javascript" src="/Resource/js/xlsx.full.min.js"></script>
    <link href="/Resource/css/tabulator.min.css?20240626" rel="stylesheet" />
    <style type="text/css">
        input[type="button"], input[type="submit"]{
            cursor:pointer;
        }
        .list-top {
            font-size: 18px;
            margin: 0px 20px 2px;
        }
    </style>
    <script type="text/javascript">
        $(document).ready(function () {
            page.init();
            page.eventbind();
        });

        var grid;
        var cellNo = 0;
        var chkOrgCd = '';
        var chkOrgNm = '';
        var gubun;
        var rtn;

        var page = {
            init: function () {
                fn_Init();
                fn_GridInit();
                fn_Load();
            },
            eventbind: function () {
                $("#selField").change(function (e) {
                    fn_Field();
                });

                $("#inputValue").keyup(function (e) {
                    var fieldEl = document.getElementById("selField");
                    var valueEl = document.getElementById("inputValue");

                    ktsGrid.setFilter(fieldEl.value, 'like', valueEl.value);
                });

                $("#btnClose").click(function (e) {
                    SendParentsForm();
                });

                $("#gridExcel").click(function (e) {
                    var name = $("#lblTitle").text();
                    ktsGrid.download("xlsx", name + ".xlsx", { sheetName: name });
                });
            }
        };

        var fn_Init = function () {
            $(".table-search").css('display', 'none');

            fn_SetSelField();
        }

        var fn_Field = function () {
            var fieldEl = document.getElementById("selField");
            var valueEl = document.getElementById("inputValue");
            valueEl.value = '';

            if (fieldEl.value == "") {
                valueEl.setAttribute('disabled', 'disabled');
                ktsGrid.setFilter('NUM', 'like', '');
            }
            else {
                valueEl.removeAttribute('disabled');
                ktsGrid.setFilter(fieldEl.value, 'like', valueEl.value);
            }
        }

        var fn_CellNumber = function (cell, formatterParams, onRendered) {
            var value = cell.getValue();
            value = priceToString(value);
            return value;
        }

        var fn_GridInit = function () {
            Columns = [
                { headerHozAlign: "center", hozAlign: "center", title: "No.", field: "id", sorter: "number", width: 80, frozen: true },
                { headerHozAlign: "center", hozAlign: "center", title: "소속코드", field: "ORGCD", sorter: "string", visible: false, frozen: true },
                { headerHozAlign: "center", hozAlign: "center", title: "소속", field: "ORGNM", sorter: "string", width: 140, frozen: true },
                { headerHozAlign: "center", hozAlign: "center", title: "본부", field: "ORGNM1", sorter: "string", width: 140, frozen: true, visible: false },
                { headerHozAlign: "center", hozAlign: "center", title: "지사", field: "ORGNM2", sorter: "string", width: 140, frozen: true, visible: false },
                { headerHozAlign: "center", hozAlign: "center", title: "지점", field: "ORGNM3", sorter: "string", width: 140, frozen: true, visible: false },
                { headerHozAlign: "center", hozAlign: "center", title: "이름", field: "EMPNM", sorter: "string", width: 100, frozen: true },
                { headerHozAlign: "center", hozAlign: "center", title: "사번", field: "EMPNO", sorter: "string", width: 100 },
                { headerHozAlign: "center", hozAlign: "center", title: "KTS사번", field: "KTSEMPNO", sorter: "string", width: 100 },
                { headerHozAlign: "center", hozAlign: "center", title: "직무", field: "JOBNM", sorter: "string", width: 80 },
                { headerHozAlign: "center", hozAlign: "center", title: "품목코드", field: "ITEMCD", sorter: "string", visible: false },
                { headerHozAlign: "center", hozAlign: "center", title: "품목", field: "ITEMNM", sorter: "string", width: 140 },
                { headerHozAlign: "center", hozAlign: "center", title: "품목순번", field: "ITEMSEQ", sorter: "number", width: 100 },
                { headerHozAlign: "center", hozAlign: "center", title: "구매일자", field: "BUY_DATE", sorter: "string", width: 140 },
                { headerHozAlign: "center", hozAlign: "center", title: "지급일자", field: "GIVE_DATE", sorter: "string", width: 140 },
                { headerHozAlign: "center", hozAlign: "right", title: "내용연수", field: "SERVICELIFE", sorter: "number", width: 100, formatter: fn_CellNumber },
                { headerHozAlign: "center", hozAlign: "right", title: "수량", field: "ITEMCNT", sorter: "number", width: 100, formatter: fn_CellNumber }
            ];

            //컬럼 세팅
            ktsColumns = Columns;

            //그리드 초기 세팅
            grid = ktsTabulator;

            grid.gridDefault('ktsGrid', 'fitColumns', true, 'local'); // div의 grid id 값
            ktsGrid.setHeight("62vh");

        }

        var fn_Load = function () {
            fn_Search();
        }

        var fn_SetSelField = function () {
            var rptCd = $("#hdnRptCd").val();
            var gubun = $("#hdnGubun").val();
            var obj1 = $('#selField');

            obj1.empty();
            obj1.append("<option value=''>선택</option>");

            if (rptCd == 'TOOLSTATBYHOLDING' && gubun == '4') {
                obj1.append("<option value='ORGNM1'>본부</option>");
                obj1.append("<option value='ORGNM2'>지사</option>");
                obj1.append("<option value='ORGNM3'>지점</option>");
                obj1.append("<option value='ITEMNM'>품목</option>");
            }
            else {
                obj1.append("<option value='BUY_DATE'>구매일자</option>");
                obj1.append("<option value='GIVE_DATE'>지급일자</option>");
                obj1.append("<option value='ORGNM'>소속</option>");
                obj1.append("<option value='EMPNM'>이름</option>");
                obj1.append("<option value='EMPNO'>사번</option>");
                obj1.append("<option value='ITEMNM'>품목</option>");
            }
        }

        var fn_Search = function () {
            var rptCd = $("#hdnRptCd").val();
            var gubun = $("#hdnGubun").val();
            var orgCd1 = $("#hdnOrgCd1").val();
            var orgCd2 = $("#hdnOrgCd2").val();
            var orgCd3 = $("#hdnOrgCd3").val();
            var itemCd = $("#hdnItemCd").val();
            var code = $("#hdnCode").val();
            var date1 = $("#hdnDate1").val();
            var date2 = $("#hdnDate2").val();
            var giveDate = $("#hdnGiveDate").val();

            if (rptCd == 'TOOLSTATBYHOLDING' && gubun == '4')
            {
                ktsGrid.showColumn("ORGNM1");
                ktsGrid.showColumn("ORGNM2");
                ktsGrid.showColumn("ORGNM3");
                ktsGrid.showColumn("ITEMCNT");

                ktsGrid.hideColumn("ORGNM");
                ktsGrid.hideColumn("EMPNM");
                ktsGrid.hideColumn("EMPNO");
                ktsGrid.hideColumn("KTSEMPNO");
                ktsGrid.hideColumn("JOBNM");
                ktsGrid.hideColumn("ITEMSEQ");
                ktsGrid.hideColumn("BUY_DATE");
                ktsGrid.hideColumn("GIVE_DATE");
                ktsGrid.hideColumn("SERVICELIFE");
            }
            else
            {
                ktsGrid.hideColumn("ORGNM1");
                ktsGrid.hideColumn("ORGNM2");
                ktsGrid.hideColumn("ORGNM3");
                ktsGrid.hideColumn("ITEMCNT");

                ktsGrid.showColumn("ORGNM");
                ktsGrid.showColumn("EMPNM");
                ktsGrid.showColumn("EMPNO");
                ktsGrid.showColumn("KTSEMPNO");
                ktsGrid.showColumn("JOBNM");
                ktsGrid.showColumn("ITEMSEQ");
                ktsGrid.showColumn("BUY_DATE");
                ktsGrid.showColumn("GIVE_DATE");
                ktsGrid.showColumn("SERVICELIFE");
            }

            //입력 파라미터
            var aData = [];
            aData[0] = rptCd;
            aData[1] = gubun;
            aData[2] = orgCd1;
            aData[3] = orgCd2;
            aData[4] = orgCd3;
            aData[5] = itemCd;
            aData[6] = code;
            aData[7] = giveDate;
            
            var jsonData = JSON.stringify({ aData: aData });

            //WebMethod Url
            var ajaxUrl = grid.getUrl(location.href, 'GetGridData');

            //grid Bind
            grid.getDataBind(jsonData, ajaxUrl);

            $(".table-search").css('display', 'block');
        }

        function SendParentsForm() {
            window.close();
        }
    </script>
</head>
<body>
    <form id="form1" runat="server">
        <div id="windowpop-wrap">
            <!-- S:pop-notice-write -->
            <div class="windowpop pop-notice-write">
                <!-- S:popupwrap -->
                <div class="popupwrap">
                    <div class="title"><strong><span id="lblTitle">상세리스트</span></strong></div>
                    <button type="button" class="btn-popclose" onclick="window.close(self)">닫기</button>
                    <input type="hidden" id="hdnRptCd" runat="server" />
                    <input type="hidden" id="hdnGubun" runat="server" />
                    <input type="hidden" id="hdnOrgCd1" runat="server" />
                    <input type="hidden" id="hdnOrgCd2" runat="server" />
                    <input type="hidden" id="hdnOrgCd3" runat="server" />
                    <input type="hidden" id="hdnItemCd" runat="server" />
                    <input type="hidden" id="hdnCode" runat="server" />
                    <input type="hidden" id="hdnGiveDate" runat="server" />
                </div>
                <!-- E:popupwrap -->
            </div>
            <!-- E:pop-user-registration -->
            <br />

            <!-- S:pop-user-registration -->
            <div class="windowpop">
                <!-- S:popcontents -->
                <div class="popcontents">
                    <!-- S:datalist -->
                    <div class="datalist">
                    <!-- S:list-top -->
                    <div class="list-top">
                        <strong>조회 결과</strong>
                        <label class="searchrowcount"></label>
			            <div class="pull-right">
				            <div class="btnset">
                                <input id="gridExcel" type="button" class="btn-green last" value="엑셀" />
				            </div>
			            </div>
                    </div>
                    <!-- //E:list-top -->
                        <!-- S:scrollbox -->
                        <div class="scrollbox">
                            <div class="table-search" style="display:none;">
                                <span>
                                    <select id="selField">
                                        <option value="">선택</option>
                                        <option value="SERVICECTGLVNM2">분류1</option>
                                        <option value="SERVICECTGLVNM3">분류2</option>
                                        <option value="SERVICECTGLVNM4">자재</option>
                                        <option value="PRODUCTNM">상품</option>
                                    </select> : 
                                    <input id="inputValue" disabled="disabled" type="text" />
                                </span>
                            </div>
                            <div id="ktsGrid"></div>
                        </div>
                        <!-- E:scrollbox -->
                    </div>
                    <!-- E:datalist -->
                    <!-- S:btncenter -->
                    <div style="margin:20px 30px 0 30px;display:grid;">
                        <input id="btnClose" type="button" class="btn-green last" value="닫기" />
                    </div>
                    <!-- //E:btncenter -->
                </div>
                <!-- E:popcontents -->
            </div>
            <!-- E:pop-user-registration -->
        </div>
    </form>
</body>
</html>