﻿input[type="button"], input[type="submit"] {
    cursor: pointer;
}

select {
    cursor: pointer;
}

hr {
    position: relative;
    width: 100%;
    height: 3px;
    background-color: #0096871f;
    border: 1px;
}

.chartSpanA {
    margin: 0 0 0 0 !important;
    vertical-align: middle;
}

.chartSpanB {
    margin: 0 0 0 100px !important;
    vertical-align: middle;
}

.chartSelectA {
    color: black !important;
    background: url(/Resource/images/icon_select_arr.png) rgba(0, 150, 135, 0.2) no-repeat 110% 60% !important;
    padding: 3px 20px 4px 3px !important;
    border-color: rgba(0, 150, 135, 1);
    border-radius: 5px;
}

.chartSelectB {
    color: black !important;
    background: url(/Resource/images/icon_select_arr.png) rgba(255, 206, 86, 0.2) no-repeat 110% 60% !important;
    padding: 3px 20px 4px 3px !important;
    border-color: rgba(255, 206, 86, 1);
    border-radius: 5px;
}

.chartSelectC {
    color: black !important;
    background: url(/Resource/images/icon_select_arr.png) rgba(249, 117, 117, 0.2) no-repeat 110% 60% !important;
    padding: 3px 20px 4px 3px !important;
    border-color: rgba(249, 117, 117, 1);
    border-radius: 5px;
}

.chartButtonA {
    border-style: double;
    color: black !important;
    background-color: rgba(249, 117, 117, 0.2);
    padding: 3px 6px 4px 4px !important;
    border-color: rgba(249, 117, 117, 1);
    border-radius: 5px;
}
/* 2023-06-21 수정 */
.chartWrapper {
    position: relative;
    border: 1px solid #eee;
    border-top: none;
    border-bottom: none;
    background-color: #fff;
    padding: 0 45px;
}
/* 2023-06-21 수정 END */
.chartContainer {
    overflow-x: auto;
    background-color: #fff;
    height: 519px;
    padding: 0px 18px 0px 18px;
}

.chartWrapper > canvas {
    position: relative;
    left: 0;
    top: 0;
    pointer-events: none;
}

/* 2023-06-21 수정 */
.datalist {
    position: relative;
    background: white;
    border: 1px solid #eee;
    border-bottom: none;
    border-radius: 6px 6px 0 0;
}

.datalistmove {
    position: relative;
    text-align: center;
    cursor: pointer;
    border: 1px solid #eee;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 0 0 6px 6px;
    height: 50px;
}

.containMove {
    position: relative;
    top: -22px;
}

.containMoveText {
    position: relative;
    top: -22px;
    color: #000;
    font-size: 15px;
    font-weight: 600;
    margin-right: 10px;
}

.containMoveText span {
    color: #0eaba7;
    margin-right: 4px;
}

.datalistmove .containMoveText,
.datalistmove .containMove {
    top: inherit;
}

.chartCombobox {
    position: relative;
    padding: 0;
    background-color: #fff;
    font-size: 14px;
    border-bottom: 1px solid #eee;
    padding-bottom: 8px;
}

.contentsarea:has(.opendChart) .searchbox {
    padding-bottom: 0;
    border-bottom: none;
}

.chartCombobox {
    background-color: #fafafa;
    margin-left: -45px;
    margin-right: -45px;
    margin-bottom: 46px;
    height: 45px;
    display: flex;
    align-items: center;
}

.chartCombobox fieldset {
    padding: 0 45px;
    display: flex;
    align-items: center;
}

.chartCombobox fieldset .optionbox:not(:first-child) {
    margin-left: 14px;
}

.chartCombobox fieldset .optionbox label {
    font-size: 14px;
    color: #666;
    margin-right: 4px;
}

.chartCombobox fieldset .optionbox select {
    height: 28px;
    line-height: 28px;
    width: auto;
    padding-right: 30px;
    font-size: 14px;
}

.chartCombobox fieldset .btnRefresh {
    position: relative;
    border: none;
    padding-right: 15px;
    font-size: 14px;
    color: #666;
    font-weight: 500;
    background: url(/Resource/images/icon_btn_refresh.png) no-repeat center right;
}

.chartCombobox fieldset .btnRefresh-wrap {
    position: relative;
    margin-left: 40px;
}

.chartCombobox fieldset .btnRefresh-wrap:before {
    content: "";
    position: absolute;
    display: block;
    left: -20px;
    top: calc(50% - 6px);
    width: 1px;
    height: 12px;
    background-color: #ddd;
}
/* 2023-06-21 수정 END */

.chart-alert {
    position: absolute;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    z-index: 100;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    text-align: center;
}

.chart-alert .chart-alert-msg {
    display: inline-block;
    margin: 0 auto;
    padding: 10px 20px;
    border-radius: 10px;
    background: #fff;
    font-weight: 800;
    font-size: 16px;
}

.chart-alert .chart-alert-msg.chart-alert-state-msg {
    border: 4px solid #333;
    color: #000;
}

.chartButtonLeft {
    position: absolute;
    top: 0px;
    left: -17px;
    cursor: pointer;
}

.chartButtonRight {
    position: absolute;
    top: 0px;
    right: -17px;
    cursor: pointer;
}

.chartTitle {
    color: #000;
    font-size: 18px;
    font-weight: 800;
    padding: 0px 0px 0px 20px;
    display: block;
    position: absolute;
    top: 54px;
    left: 26px
}

.chartLeft {
    position: relative;
    float: left;
    width: 50%;
    padding: 0px 20px 0px 0px;
}

.chartRight {
    position: relative;
    float: right;
    padding: 0px 20px 0px 20px;
    width: 50%;
}
