﻿@charset "UTF-8";

/* Datepicker */
.ui-datepicker {display:none; width:200px; height:235px; overflow:hidden; margin:2px 0 0 0; padding:0; background:#fff; border-radius:0; box-shadow:2px 2px 4px 2px rgba(0,0,0,0.1)}
.ui-datepicker .ui-widget-header {position:relative; width:90%; margin:0 auto; padding:10px 0}
.ui-datepicker .ui-widget-header .ui-datepicker-title {text-align:center; color:#000; font-size:14px; font-weight:800}
.ui-datepicker .ui-widget-header .ui-datepicker-prev {position:absolute; top:10px; left:0; width:20px; height:20px; text-align:center}
.ui-datepicker .ui-widget-header .ui-datepicker-next {position:absolute; top:10px; right:0; width:20px; height:20px; text-align:center}
.ui-datepicker .ui-datepicker-calendar {width:95%; margin:0 auto; border-collapse:collapse}
.ui-datepicker .ui-datepicker-calendar thead th {width:14.28%; padding:4px 0; text-align:center; font-size:13px; color:#222; font-weight:400}
.ui-datepicker .ui-datepicker-calendar tbody td {width:14.28%; text-align:center; font-size:13px; font-weight:200}
.ui-datepicker .ui-datepicker-calendar tbody td a {display:block; width:100%; height:100%; padding:4px 0}
.ui-datepicker .ui-datepicker-calendar tbody td .ui-state-hover {background:#0eaba7; border-radius:50%; color:#fff}
.ui-datepicker .ui-datepicker-today {color:#ed1c24; font-weight:800}
.ui-datepicker .ui-datepicker-other-month {color:#999}
.ui-datepicker .ui-datepicker-year { width:45px; margin-right:5px; font-weight: 800;}
.ui-datepicker .ui-datepicker-month { width:40px; font-weight: 800;}

/* Monthpicker */
.ui-monthpicker {display:none; width:200px; height:40px; overflow:hidden; margin:2px 0 0 0; padding:0; background:#fff; border-radius:0; box-shadow:2px 2px 4px 2px rgba(0,0,0,0.1)}
.ui-monthpicker .ui-widget-header {position:relative; width:90%; margin:0 auto; padding:10px 0}
.ui-monthpicker .ui-widget-header .ui-monthpicker-title {text-align:center; color:#000; font-size:14px; font-weight:800}
.ui-monthpicker .ui-widget-header .ui-monthpicker-prev {position:absolute; top:10px; left:0; width:20px; height:20px; text-align:center}
.ui-monthpicker .ui-widget-header .ui-monthpicker-next {position:absolute; top:10px; right:0; width:20px; height:20px; text-align:center}
.ui-monthpicker .ui-monthpicker-calendar {display:none;}
.ui-monthpicker .ui-monthpicker-today {color:#ed1c24; font-weight:800}
.ui-monthpicker .ui-monthpicker-other-month {color:#999}
.ui-monthpicker .ui-monthpicker-year { width:45px; margin-right:5px; font-weight: 800;}
.ui-monthpicker .ui-monthpicker-month { width:40px; font-weight: 800;}

/* input */
.inpbox {display:inline-block; position:relative; vertical-align:middle; font-size:0}
.inpbox label {display:inline-block; margin-right:8px; vertical-align:middle; color:#000; font-size:13px; font-weight:800}
.inpbox input {display:inline-block; width:150px; height:33px; padding:0 14px; border:1px solid #dfdfdf; border-radius:2px; line-height:31px; vertical-align:middle; color:#000; font-size:13px}
p.inpbox {width:100%}
p.inpbox input {width:100%}

.filebox {float:left; width:100%; margin-right:33px}
.filebox > input[type="text"] {float:left; width:75%; height:33px; padding:0 14px; border:1px solid #dfdfdf; border-radius:2px; line-height:31px; color:#000; font-size:15px}
.filebox .file {display:block; float:left; width:25%;}
.filebox .file input[type="file"] {display:block; overflow:hidden; width:0; height:0; padding:0; margin:0; border:0; clip:rect(0,0,0,0)}
.filebox .file input[type="file"] + label {display:block; width:100%; height:33px; background:#999; border-radius:2px; text-align:center; line-height:33px; color:#fff; font-size:14px; cursor:pointer}
.filebox > button {float:left; margin-left:10px}

.optionbox {display:inline-block; position:relative; vertical-align:middle}
.optionbox label {display:inline-block; margin-right:8px; vertical-align:middle; color:#000; font-size:13px; font-weight:800}
.optionbox select {display:inline-block; width:150px; height:33px; padding:0 14px; border:1px solid #dfdfdf; border-radius:2px; background:url('/Resource/Mobile_images/icon_select_arr.png') #fff no-repeat 100% 50% / 20px auto; line-height:31px; vertical-align:middle; color:#000; font-size:13px}
.optionbox select + button {margin-left:8px}
.optionbox input {display:inline-block; width:150px; height:33px; padding:0 14px; border:1px solid #dfdfdf; border-radius:2px; line-height:31px; vertical-align:middle; color:#000; font-size:13px}
p.optionbox {width:100%}
p.optionbox select {width:100%}
p.optionbox input {width:100%}

.ickbox {display:inline-block; vertical-align:middle}
.ickbox label {display:inline-block; margin-right:8px; vertical-align:middle; color:#000; font-size:13px; font-weight:800}
.ickbox input + label {display:block; position:relative; height:13px; padding-left:25px; color:#000; font-size:13px; cursor:pointer}
.ickbox input + label::before {content:''; display:block; position:absolute; top:0; left:0; width:13px; height:13px; border:1px solid #999; border-radius:2px; font-size:13px}
.ickbox input:checked + label::before {background:url('/Resource/images/icon_check_01.png') no-repeat 50%}

.radiobox {display:inline-block; vertical-align:middle}
.radiobox input {position:absolute; width:0; height:0; opacity:0}
.radiobox input + label {display:block; position:relative; height:13px; padding-left:18px; color:#000; font-size:15px; cursor:pointer}
.radiobox input + label::before {content:''; display:block !important; position:absolute; top:2.5px; left:2px; width:13px; height:13px; border:1px solid #999; border-radius:50%; font-size:0 }
.radiobox input:checked + label::before {background:url('/Resource/Mobile_images/icon_radio_01.png') no-repeat 50%;}

/* btn */
.btn-green {display:inline-block; min-width:65px; height:33px; padding:0 13px; background:#2CBBB7; text-align:center; line-height:33px; border-radius:2px; color:#fff; font-size:14px; font-weight:800}
.btn-black {display:inline-block; min-width:65px; height:33px; padding:0 13px; background:#333; text-align:center; line-height:33px; border-radius:2px; color:#fff; font-size:14px; font-weight:800}
.btn-gray {display:inline-block; min-width:65px; height:33px; padding:0 13px; background:#999; text-align:center; line-height:33px; border-radius:2px; color:#fff; font-size:14px; font-weight:800}
.btn-plus {display:inline-block; width:25px; height:25px; background:url('/Resource/Mobile_images/icon_plus_01.png') #e6e6e6 no-repeat 50% / 9.5px auto; font-size:0}
.btn-save {display:inline-block; width:33px; height:33px; background:#fff; border:1px solid #2CBBB7; border-radius:2px; color:#2CBBB7; font-size:10px;}
.btn-del {display:inline-block; width:33px; height:33px; background:#fff; border:1px solid #ed1c24; border-radius:2px; color:#ed1c24; font-size:10px}
.btn-replysave {display:inline-block; width:33px; height:33px; background:#fff; border:1px solid #2CBBB7; border-radius:2px; color:#2CBBB7; font-size:10px;}
.btn-replydel {display:inline-block; width:33px; height:33px; background:#fff; border:1px solid #ed1c24; border-radius:2px; color:#ed1c24; font-size:10px;}

.scrollbox {overflow-x:auto; overflow-y:hidden; width:100%}

.datalist {margin-top:38px}
.datalist:first-child {margin-top:0}
.datalist table {min-width:100%; border-top:1px solid #000; border-bottom:1px solid #dfdfdf; white-space:nowrap;}
.datalist table thead tr > * {min-width:60px; padding:10px 12px 10px; border-bottom:1px solid #dfdfdf; text-align:center; line-height:1.2; color:#000; font-size:14px; font-weight:800}
.datalist table tbody tr > * {min-width:60px; padding:12px 12px 16px; border-top:1px solid #dfdfdf; text-align:center; color:#000; font-size:13px; font-weight:200}
.datalist table tbody tr:first-child > * {border-top:0}
.datalist table tbody tr > th {text-align:left; font-weight:800}
.datalist table tbody tr > th + td {border-left:0 !important}
.datalist table tbody td .ickbox input + label {padding-left:17px; font-size:0}
.datalist table tbody tr[onclick]:hover {background:#eee; cursor:pointer;}
.datalist table .line-break {white-space:normal}
.datalist .none-contents {padding:50px 0; text-align:center; color:#000; font-size:16px; font-weight:400}

.boardlist {margin-top:15px}
.boardlist ul li {clear:both; position:relative; margin-top:8px; padding:12px 100px 11px 67.5px; background:#fff; }
.boardlist ul li .num {position:absolute; top:14px; left:20px; width:35px}
.boardlist ul li .title {display:block; overflow:hidden; width:100%; white-space:nowrap; text-overflow:ellipsis}
.boardlist ul li .writer {display:block; color:#888; font-size:12px}
.boardlist ul li .date {position:absolute; top:14px; right:20px; color:#888; font-size:13px}

.boardview {padding: 21px 0; border-top:1px solid #000;}
.boardview > strong {color:#000; font-size: 14px; font-weight: 800;}
.boardview > strong span {font-weight: 200;}
.boardview > span {display:block; padding: 19px 0;}
.boardview > span img {max-width:100%; vertical-align:top;}
.boardview .contents-text {color:#000; font-size:13px; font-weight:200;}
.boardview .comment {margin-top:20px; border-top:1px solid #000;}
.boardview .comment .inpbox {position: relative;}
.boardview .comment .inpbox input{position: absolute;height:35px; background: #fff url('/Resource/Mobile_images/icon_comment.png')no-repeat 10px 50% / 15px 15px; border:0; font-size:13px;}
.boardview .comment .comment-list .comment-item {position: relative; padding: 0 17px 0 34px; background:url('/Resource/Mobile_images/icon_comment.png')no-repeat 10px 8px / 15px 15px; border-bottom:1px solid #dfdfdf; font-size:13px;}
.boardview .comment .comment-list .comment-item input[type=text]{height:35px; margin-left:43px; padding-left:2px; background: #fff; border:0; font-size:13px;}
.boardview .comment .comment-list .comment-item dt {position: absolute; left:33px; top:7px;}
.boardview .comment .comment-list .comment-item dd {display:inline-block; padding:7.5px 0 7.5px 45px; word-break:break-all; }
.boardview .button-wrapper {margin-top:18px; font-size:0;}
.boardview .button-wrapper button {max-width:48.3582%; width:100%;}
.boardview .button-wrapper button:first-child {margin-right:3%}

.boardwrite {margin-bottom:-5.5px; padding-top:14.5px; border-top:1px solid #000}
.boardwrite table {width:100%}
.boardwrite table tbody th {text-align:left; color:#000; font-size:14px}
.boardwrite table tbody td {padding:5.5px 0}

/* fieldset */
fieldset {font-size:0}
fieldset > * {display:block; float:left; width:49%; margin:11px 0 0 2%; font-size:0}
fieldset > *:nth-of-type(odd) {margin-left:0}
fieldset > *:nth-of-type(-n+2) {margin-top:0}
fieldset > * label {width:31%; margin:0 !important}
fieldset > * label + * {width:68% !important}

.btncenter {margin-top:20px; text-align:center; font-size:0}
.btncenter:after {content:""; display:block; clear:both; overflow:hidden;}
.btncenter > * {display:block; float:left; width:100%; height:40px; line-height:40px}
.btncenter.double > * {width:49%; margin-left:2%}
.btncenter.double > *:first-child {margin-left:0}
.btncenter.trio > * {width:32%; margin-left:2%}
.btncenter.trio > *:first-child {margin-left:0}


/* paging */
.paging {clear:both; position:relative; margin-top:32px; text-align:center}
.paging * {vertical-align:middle;}
.paging > button {display:inline-block; width:27px; height:27px; font-size:0; text-indent:-99999rem;}
.paging > button.btn-paging-first {margin-right:20px; background:url('/Resource/images/icon_paging_first.png') no-repeat 50%}
.paging > button.btn-paging-prev {margin-right:20px; background:url('/Resource/images/icon_paging_prev.png') no-repeat 50%}
.paging > button.btn-paging-next {margin-left:20px; background:url('/Resource/images/icon_paging_next.png') no-repeat 50%}
.paging > button.btn-paging-end {margin-left:20px; background:url('/Resource/images/icon_paging_end.png') no-repeat 50%}
.paging span {display:inline-block; font-size:0}
.paging span a {display:inline-block; width:27px; height:27px; margin:0 6px; border-radius:50%; text-align:center; line-height:27px; color:#000; font-size:16px}
.paging span a.on {background:#0eaba7; color:#fff;}


