﻿@charset "UTF-8";

/* page-main */
.page-main ul:after {content:''; display:block; overflow:hidden; clear:both;}
.page-main ul li {float:left; margin-right:2%; margin-bottom:2%; width:32%;}
.page-main ul li:nth-child(3n) {margin-right:0;}
.page-main ul li:last-child {margin-bottom:0;}
.page-main ul li a {display:block; padding-top:100%; background:#fff url('/Resource/Mobile_images/icon_operation.jpg')no-repeat 50%; font-size:0; text-indent: -9999px;background-size:100%}
.page-main ul li:nth-child(2) a {background-image:url('/Resource/Mobile_images/icon_cloth.jpg');}
.page-main ul li:nth-child(3) a {background-image:url('/Resource/Mobile_images/icon_passReg.jpg')}
.page-main ul li:nth-child(4) a {background-image:url('/Resource/Mobile_images/icon_passSearch.jpg')}
/*.page-main ul li:nth-child(5) a {background-image:url('/Resource/Mobile_images/icon_consulting.jpg')}*/
.page-main ul li:nth-child(5) a {background-image:url('/Resource/Mobile_images/icon_order.jpg')}
.page-main ul li:nth-child(6) a {background-image:url('/Resource/Mobile_images/icon-passComp.jpg')}
.page-main ul li:nth-child(7) a {background-image:url('/Resource/Mobile_images/icon_materialOut.png');}
.page-main ul li:nth-child(8) a {background-image:url('/Resource/Mobile_images/icon_materialOut.png');}
.page-main ul li:nth-child(9) a {background-image:url('/Resource/Mobile_images/icon_materialOut.png');}
.page-main > button {margin-top: 5.9701%; width:100%; height:40px; background:#393939; color:#fff;}

/*.page .pointlist {padding:20px 0; border-top:1px solid #000}*/
.page {position:relative}
.page h2 {clear:both; float:none; width:100%; padding-bottom:12px; border-bottom:1px solid #000} 
.page h2 + .btn-plus {right:auto; right:auto; left:84px; height:25px !important}
.page fieldset {margin:10px 0 10px 0;}
.page fieldset:last-child {margin-bottom:0;}
fieldset > *:nth-of-type(odd) {margin-left:0}
fieldset > *:nth-of-type(-n+2) {margin-top:0}
fieldset > * label {width:31%; margin:0 !important}
fieldset > * label + * {width:68% !important}

/* 로딩바 */
/* 2022.04.11 추가 */
@media(orientation: portrait) {
.loading {position: fixed; z-index: 99; top: 27%; left: 0px; right: 0px; background-color: #f9f9f9 !important; opacity: 0.8;}
.loadingContent {z-index: 98; padding: 20%; text-align: center;}
}

@media(orientation: landscape) {
.loading {position: fixed; z-index: 99; top: 20%; left: 0px; right: 0px; background-color: #f9f9f9 !important; opacity: 0.8;}
.loadingContent {z-index: 98; padding: 5%; text-align: center;}
}

.loadingContent img {width: 80px; height: 80px;}

/* 로그인 */
/* 2024.05.19 추가 */
form#form1 {height: 100%;}
form#form1 #wrap {height: 100%;}
.page-login {display: flex; flex-direction: column; justify-content: space-between; align-items: center; height: 100%;}
.login-table {display: flex; flex-direction: column; justify-content: center; height: 100%;}
.login-table .login-cell .login-contents .login-logo {display: flex; justify-content: center; margin-bottom: 50px;}
.login-table .login-cell .login-contents .login-logo img {width: 180px; height: auto;}
.login-table .login-cell .login-contents .loginbox {display: flex; flex-direction: column; align-items: center;}
.login-table .login-cell .login-contents .loginbox .inpbox {display: flex; align-items: center; width: 305px; height:50px; background: #f9fcfd; border: 1px solid #d5e8f5; border-radius: 5px; margin-bottom: 12px; padding: 0 20px;}
.login-table .login-cell .login-contents .loginbox .inpbox input {width: 100%; height: 30px; line-height: 1.5; border: none; background: none; font-size: 16px;}
.login-table .login-cell .login-contents .loginbox .inpbox input::placeholder {font-size: 16px !important; color: #999; height: 30px; line-height: 1.5;}
.login-table .login-cell .login-contents .loginbox .inpbox input:-webkit-autofill { box-shadow: 0 0 0 1000px #f9fcfd inset;}
.login-table .login-cell .login-contents .loginbox .inpbox span.iconId {display: flex; width: 20px; height: 20px; background-image:url('/Resource/Mobile_images/icon_id.png'); background-size: 20px 20px ; background-repeat: no-repeat;}
.login-table .login-cell .login-contents .loginbox .inpbox span.iconPw {display: flex; width: 20px; height: 20px;  background-image:url('/Resource/Mobile_images/icon_pw.png'); background-size: 20px 20px ; background-repeat: no-repeat;}
.login-table .login-cell .login-contents .button-wrapper {display: flex; flex-direction: column;}
.login-table .login-cell .login-contents .button-wrapper .login-btn {font-size: 16px; font-weight: 400; color: #ffffff; height: 50px; border-radius: 5px; border: none; background: #2CBBB7;}
.login-table .login-cell .login-contents .button-wrapper .change-btn {font-size: 16px; font-weight: 400; color: #4c4c4e; height: 50px; border-radius: 5px; border: 1px solid #dcdcdc; background: #ffffff; margin-top: 12px;}
.copyright {font-size:12px; color: #777; margin-bottom: 30px;}
