﻿.pop-modal.dim {
    content: "";
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0,0,0,.4);
    width: 100%;
    height: 100%;
    z-index: 10;
    transition: all .3s;
    display: none;
}
.pop-modal.dim.on {
    display: block;
}
.pop-modal.dim .pop {
    position: absolute;
    display: block;
    background-color: #fff;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 11;
    border-radius: 4px;
}
.pop-modal.dim .pop .pop-top {
    background-color: #f7f8fb;
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0 30px;
    border-radius: 4px 4px 0 0;
}
.pop-modal.dim .pop .pop-top .btn-close-pop {
    position: relative;
    width: 30px;
    height: 30px;
    font-size: 0;
}
.pop-modal.dim .pop .pop-top .btn-close-pop:before,
.pop-modal.dim .pop .pop-top .btn-close-pop:after {
    content: "";
    position: absolute;
    display: block;
    width: 16px;
    height: 1px;
    background-color: #101216;
    left: calc(50% - 8px);
}
.pop-modal.dim .pop .pop-top .btn-close-pop:before {
    transform: rotate(45deg);
}
.pop-modal.dim .pop .pop-top .btn-close-pop:after {
    transform: rotate(-45deg);
}
.pop-modal.dim .pop .pop-body {
    height: calc(100% - 56px);
    padding: 30px;
    overflow-y: auto;
}
.pop-modal.dim .pop .pop-body .flex-area {
    display: flex;
    gap: 14px;
}
.pop-modal.dim .pop .pop-body .line-box {
    width: 100%;
    border: 1px solid #f2f3f7;
    border-radius: 4px;
    box-shadow: 1px 1px 3px 1px rgba(0,0,0,.05);
}
.pop-modal.dim .pop .pop-body .line-box.wid1 {
    flex: 1.5;
}
.pop-modal.dim .pop .pop-body .line-box.wid2 {
    flex: 2;
}
.pop-modal.dim .pop .pop-body .line-box.wid3 {
    flex: 3;
}
.pop-modal.dim .pop .pop-body .line-box .lb-tit {
    border-bottom: 1px solid #f2f3f7;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pop-modal.dim .pop .pop-body .line-box .lb-tit p {
    color: #101216;
    font-weight: 600;
    font-size: 14px;
}
.pop-modal.dim .pop .pop-body .line-box .lb-tit + ul {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.pop-modal.dim .pop .pop-body .line-box .lb-tit + ul li {
    text-align: center;
    padding: 8px 0;
}
.pop-modal.dim .pop .pop-body .line-box .lb-tit + ul li:not(:first-child) {
    margin-left: 20px;
}
.pop-modal.dim .pop .pop-body .line-box .lb-tit + ul .small-tit {
    color: #6c758b;
    font-size: 14px;
}
.pop-modal.dim .pop .pop-body .line-box .lb-tit + ul .small-tit + p {
    font-size: 16px;
    color: #101216;
    font-weight: 600;
    margin-top: 5px;
}
.pop-modal.dim .pop .pop-body .graph-area {
    height: 100%;
}
.pop-modal.dim .pop .pop-body .pt-10 {
    padding-top: 10px;
}
.pop-modal.dim .pop .pop-body .pt-20 {
    padding-top: 20px;
}
.pop-modal.dim .pop .pop-body .pt-30 {
    padding-top: 30px;
}
.pop-modal.dim .pop .pop-body .tab-area {
    border-bottom: 1px solid #e4e6f0;
    text-align: center;
}
.pop-modal.dim .pop .pop-body .tab-area .tabnav li:not(:first-child) {
    margin-left: 25px;
}

/* popup 추가 : 2023-07-04 */
.wpop-wrap {
	display: block;
}
.wpop-wrap .pop {
	display: block;
	background-color: #fff;
	width: 100%;
	z-index: 11;
	border-radius: 4px;
}
.wpop-wrap .pop .pop-top {
	background-color: #f7f8fb;
	height: 56px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px 0 30px;
	border-radius: 4px 4px 0 0;
}
.wpop-wrap .pop .pop-body {
	height: calc(100% - 56px);
	padding: 30px;
	overflow-y: auto;
}
.wpop-wrap .pop .pop-body .flex-area {
	display: flex;
	gap: 14px;
}
.wpop-wrap .pop .pop-body .line-box {
	width: 100%;
	border: 1px solid #95dce7;
	border-radius: 4px;
	box-shadow: 1px 1px 3px 1px rgba(0,0,0,.05);
}
.wpop-wrap .pop .pop-body .line-box.wid1 {
	flex: 1.5;
}
.wpop-wrap .pop .pop-body .line-box.wid2 {
	flex: 2;
}
.wpop-wrap .pop .pop-body .line-box.wid3 {
	flex: 3;
}
.wpop-wrap .pop .pop-body .line-box .lb-tit {
	border-bottom: 1px solid #f2f3f7;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.wpop-wrap .pop .pop-body .line-box .lb-tit p {
	color: #0eaba7;
	font-weight: 600;
	font-size: 14px;
}
.wpop-wrap .pop .pop-body .line-box .lb-tit img {
	margin-left: 5px;
}
.wpop-wrap .pop .pop-body .line-box .lb-tit + ul {
	display: flex;
	justify-content: center;
	align-items: flex-start;
}
.wpop-wrap .pop .pop-body .line-box .lb-tit + ul li {
	text-align: center;
	padding: 8px 0;
}
.wpop-wrap .pop .pop-body .line-box .lb-tit + ul li:not(:first-child) {
	margin-left: 20px;
}
.wpop-wrap .pop .pop-body .line-box .lb-tit + ul .small-tit {
	color: #6c758b;
	font-size: 14px;
}
.wpop-wrap .pop .pop-body .line-box .lb-tit + ul .small-tit + p {
	font-size: 16px;
	color: #101216;
	font-weight: 600;
	margin-top: 5px;
}
.wpop-wrap .pop .pop-body .graph-area {
	height: 100%;
}
.wpop-wrap .pop .pop-body .pt-10 {
    padding-top: 10px;
}
.wpop-wrap .pop .pop-body .pt-20 {
    padding-top: 20px;
}
.wpop-wrap .pop .pop-body .pt-30 {
	padding-top: 30px;
}
.wpop-wrap .pop .pop-body .tab-area {
	border-bottom: 1px solid #e4e6f0;
	text-align: center;
}
.wpop-wrap .pop .pop-body .tab-area .tabnav li:not(:first-child) {
	margin-left: 25px;
}
/* 테이블스타일추가 0628 */
.poptable-st {
	width: 100%;
}

.tabnav{font-size:0; width:100%;}
.tabnav li{display: inline-block; height:40px; text-align:center; list-style:none; font-weight: 600;}
.tabnav li:not(:first-child) {margin-left: 14px;}
.tabnav li a:before{content:""; position:absolute; left:0; bottom:0px; width:100%; height:4px;}
.tabnav li a.active:before{background:#0eaba7;}
.tabnav li a.active{border-bottom:1px solid #fff;}
.tabnav li a{position:relative; display:block; color: #9a9fb2; font-size: 14px; line-height: 40px; text-decoration:none;}
.tabnav li a:hover,
.tabnav li a.active{color:#0eaba7;}

.poptable-st table {
    width: 100%;
    border-top: 1px solid #a4acbf;
    font-size: 14px;
}
.poptable-st table thead tr th {
    background-color: #eceef5;
    color: #6c758b;
    border-bottom: 1px solid #dfe2ed;
    border-left: 1px solid #dfe2ed;
    border-right: 1px solid #dfe2ed;
    padding: 6px 10px;
}
.poptable-st table thead tr th.no-bor.left {
    border-left: none;
}
.poptable-st table thead tr th.no-bor.right {
    border-right: none;
}
.poptable-st table thead tr.bg-light th {
    background-color: #f5f6fa;
}
.poptable-st table tbody tr td {
    border-bottom: 1px solid #f2f3f7;
    color: #20242c;
    padding: 6px 10px;
    text-align: center;
    white-space: nowrap;
}
.poptable-st table tbody tr.fc-black td {
    color: #000;
    font-weight: 600;
}

/* 팝업 테이블 내 텍스트 스타일 추가 */
.border-span {
	display: block;
	border-radius: 12px;
	height: 24px;
	line-height: 24px;
	text-align: center;
}
.border-span.green {
	border: 1px solid #b1e2e9;
	background-color: #e5f6f8;
	color: #0eaba7;
	font-weight: 600;
}
.border-span.gray {
	border: 1px solid #dfe2ed;
	background-color: #f2f3f7;
	color: #9a9fb2;
	font-weight: 600;
}