﻿@charset "UTF-8";

/* layout */
body {overflow:auto; background:#edf1f1}
body.fixed {overflow-y:scroll; position:fixed; width:100%; height:100%}
#wrap {margin:0 auto; opacity:0;}

#header {z-index:10; position:relative; height:66.5px; background:#fff}
#header .header-inner {position:relative; width:100%; max-width:750px; height:100%; margin:0 auto}
#header h1 {position:absolute; top:50%; left:50%; width:310px; height:30px; transform:translate(-50%,-50%)}
#header h1 a {display:block; width:100%; height:100%; background:url('/Resource/Mobile_images/logo.png') no-repeat 50% / 310px; background-size:100%; font-size:0}

#container {padding:20px 5.33%}
#container h2 {margin-bottom:20px; color:#000; font-size:18px; font-weight:800; letter-spacing:-0.5px}
#container h2 + a {position:absolute; top:0; right:0; height:30px; line-height:30px}
#container h2 + button {position:absolute; top:0; right:0; height:30px; line-height:30px}
#container .contentsarea {clear:both; position:relative; width:100%; max-width:670px; margin:0 auto}
