﻿@charset "UTF-8";

/* layout */
/* 
    2020.09.14 헤더 높이값 변경 -> LINE 13
    2020.09.14 h1로고 포지션, 사이즈 수정 -> LINE 14
    2020.09.14 상단메뉴 우측 untilmenu 포지션 변경 -> LINE16
*/
body {overflow:auto; background:#f9f9f9}
body.fixed {overflow-y:scroll; position:fixed; width:100%; height:100%}
#wrap {min-width:1850px; max-width: 1850px; margin:0 auto; opacity:0;}
#header {z-index:10; position:fixed; top:0; left:0; width:100%; min-width: 1850px; background:#f9f9f9; display:flex; align-items: center; flex-direction: column; justify-content: center;}
#header .header-inner {position:relative; display:flex; justify-content:space-between; align-items:center; width:100%; max-width:1850px; height:50px; padding:0 80px;}
#header h1 {display:flex;}
#header h1 a {display:flex; width:239px; height:24px; background:url('/Resource/images/logo.png') no-repeat; background-size:contain; font-size:0}
#header .utilmenu {display:flex; align-items:center;}
#header .utilmenu:after {content:""; display:block; clear:both; overflow:hidden}
#header .utilmenu .profile {display:flex; align-items:center; font-size:0}
#header .utilmenu .profile .pic {display:inline-block; margin-right:10px; vertical-align:middle}
#header .utilmenu .profile .pic img {width:25px; height:25px;}
#header .utilmenu .profile p {display:inline-block; vertical-align:middle; color:#010101; font-size:13px; font-weight: 400;}
#header .utilmenu .profile p strong {color:#2CBBB7; font-size:inherit}
#header .utilmenu > ul {float:left}
#header .utilmenu > ul:after {content:""; display:block; clear:both; overflow:hidden}
#header .utilmenu > ul li {float:left; margin-left:7px; padding-left:9px; background:url('/Resource/images/bg_bar_01.png') no-repeat 0 50%}
#header .utilmenu > ul li a {display:block; width:100%; height:100%; color:#000; font-size:13px;}
/*#header .topmenu {clear:both; z-index:10; height:60px; padding:0 80px; background:#009687}
#header .topmenu > ul:after {content:""; display:block; clear:both; overflow:hidden}
#header .topmenu > ul > li {float:left; position:relative;}
#header .topmenu > ul > li > a {display:block; height:60px; padding:0 53px; line-height:64px; color:#fff; font-size:22px; font-weight:800}
#header .topmenu > ul > li:first-child a {padding-left:47px}
#header .topmenu > ul > li:hover > ul.two-depth {display:block}
#header .topmenu ul.two-depth {display:none; position:absolute; width:100%; min-width:161px; background:#fff; border:1px solid #d5d5d5; border-top:5px solid #006b60}
#header .topmenu ul.two-depth > li {position:relative; border-top:1px solid #d5d5d5}
#header .topmenu ul.two-depth > li:first-child {border-top:0}
#header .topmenu ul.two-depth > li > a {display:block; height:44px; padding-left:20px; line-height:44px; color:#333; font-size:18px; font-weight:100}
#header .topmenu ul.two-depth > li > a.holder {background:url('/Resource/images/icon_gnb_arr_off.png') no-repeat 90% 50%}
#header .topmenu ul.two-depth > li:hover > a {color:#e12e2e}
#header .topmenu ul.two-depth > li:hover > a.holder {background-image:url('/Resource/images/icon_gnb_arr_on.png')}
#header .topmenu ul.two-depth > li:hover > ul.three-depth {display:block}
#header .topmenu ul.three-depth {display:none; position:absolute; top:-1px; left:100%; min-width:195px; background:#fff; border:1px solid #d5d5d5}
#header .topmenu ul.three-depth > li {border-top:1px solid #d5d5d5}
#header .topmenu ul.three-depth > li:first-child {border-top:0}
#header .topmenu ul.three-depth > li > a {display:block; height:44px; padding-left:20px; line-height:44px; color:#333; font-size:18px; font-weight:100}
#header .topmenu ul.three-depth > li:hover > a {color:#e12e2e}
*/
#header .topmenu {position:relative; display:flex; justify-content:center; align-items:center; clear:both; z-index:10; width:100%; height:50px; background:#2CBBB7;}
#header .topmenu .topmenuIn {display:flex; align-items:center; width:100%; min-width:1850px; max-width:1850px; height:100%; padding:0 80px;}
#header .topmenu .topmenuIn > .menuAll {display:flex; align-items:center; height:100%; border-left:1px solid #ffffff; border-right:1px solid #ffffff; padding:0 20px}
#header .topmenu .topmenuIn > .menuAll > a {display:flex; color:#fff; font-size:15px; font-weight: 400;}
#header .topmenu .topmenuIn > .menuAll > a.on {color:#FFFCAB;}
#header .topmenu .topmenuIn > .menuAll > a::before {content:""; display:flex; width:24px; height:24px; background-image: url('/Resource/images/icon_menu_all_off.png'); background-size: contain; margin-right:4px;}
#header .topmenu .topmenuIn > .menuAll > a.on::before {content:""; display:flex; width:24px; height:24px; background-image: url('/Resource/images/icon_menu_all_on.png'); background-size: contain; margin-right:4px;}
#header .topmenu .topmenuIn > ul {display:flex;}
#header .topmenu .topmenuIn > ul:after {content:""; display:block; clear:both; overflow:hidden}
#header .topmenu .topmenuIn > ul > li {display:flex; padding:0 10px;}
#header .topmenu .topmenuIn > ul > li > a {display:flex; color:#fff; font-size:15px; font-weight: 400;}
#header .topmenu .topmenuIn > ul > li > a.on {display:flex; color:#FFFCAB; font-size:15px; font-weight: 400;}
#header .topmenu .topmenuIn > ul > li:hover > ul.two-depth {display:block}
#header .topmenu .topmenuIn > ul > li:first-child{padding:0 10px 0 20px;}
#header .topmenu .menuAllLayer {position:absolute; left:0; top:50px; display:flex; justify-content:center; width:100%; background:#ffffff; box-shadow:0 1px 5px rgba(1,1,1,0.09); z-index:50;}
#header .topmenu .menuAllLayer .menuAllLayerIn {position:relative; display:flex; width:100%; min-width:1850px; max-width:1850px; padding:25px 80px;}
#header .topmenu .menuAllLayer .menuAllLayerIn .close {position:absolute; top:20px; right:80px; width:24px; height:24px; background-image:url('/Resource/images/icon_close.png'); background-size:contain; font-size:0;cursor:pointer;}
#header .topmenu .menuAllLayer .menuAllLayerIn ul.highDepth {min-width:200px; border-right: 1px dashed #dddddd; padding:0 20px;}
#header .topmenu .menuAllLayer .menuAllLayerIn ul.highDepth > li > a {position:relative; display:flex; font-size:15px; padding:5px 0;}
#header .topmenu .menuAllLayer .menuAllLayerIn ul.highDepth > li > a.on {color:#2CBBB7; font-weight:bold;}
#header .topmenu .menuAllLayer .menuAllLayerIn ul.highDepth > li > a.on::after {content:""; width:8px; height:8px; margin-top:5px; margin-left:8px; background:url('/Resource/images/icon_gnb_arr_blue_on.png') no-repeat; background-size:contain;}
#header .topmenu .menuAllLayer .menuAllLayerIn .lowDepthWrap {display:flex;}
#header .topmenu .menuAllLayer .menuAllLayerIn .lowDepthWrap ul.lowDepth {display:flex; flex-direction:column; padding:0 30px; min-width:200px;}
#header .topmenu .menuAllLayer .menuAllLayerIn .lowDepthWrap ul.lowDepth > li > a {display:flex; font-size:14px; padding:3px 0;}
#header .topmenu .menuAllLayer .menuAllLayerIn .lowDepthWrap ul.lowDepth > li > a:hover {color:#2CBBB7;}
#header .topmenu .menuAllLayer .menuAllLayerIn .lowDepthWrap ul.lowDepth > li.title {margin-bottom:3px;}
#header .topmenu .menuAllLayer .menuAllLayerIn .lowDepthWrap ul.lowDepth > li.title > a {font-weight:bold;}
#header .topmenu .menuSubLayer {position:absolute; left:0; top:50px; display:flex; justify-content:center; width:100%; background:#ffffff; box-shadow:0 1px 5px rgba(1,1,1,0.09); z-index:49;}
#header .topmenu .menuSubLayer .menuSubLayerIn {position:relative; display:flex; width:100%; min-width:1850px; max-width:1850px; padding:25px 80px 25px 192px;}
#header .topmenu .menuSubLayer .menuSubLayerIn .close {position:absolute; top:20px; right:80px; width:24px; height:24px; background-image:url('/Resource/images/icon_close.png'); background-size:contain; font-size:0;cursor:pointer;}
#header .topmenu .menuSubLayer .menuSubLayerIn .lowDepthWrap {display:flex;}
#header .topmenu .menuSubLayer .menuSubLayerIn .lowDepthWrap ul.lowDepth {display:flex; flex-direction:column; padding:0 30px; min-width:200px;}
#header .topmenu .menuSubLayer .menuSubLayerIn .lowDepthWrap ul.lowDepth > li > a {display:flex; font-size:14px; padding:3px 0;}
#header .topmenu .menuSubLayer .menuSubLayerIn .lowDepthWrap ul.lowDepth > li > a:hover {color:#2CBBB7;}
#header .topmenu .menuSubLayer .menuSubLayerIn .lowDepthWrap ul.lowDepth > li.title {margin-bottom:3px;}
#header .topmenu .menuSubLayer .menuSubLayerIn .lowDepthWrap ul.lowDepth > li.title > a {font-weight:bold;}
#header .topmenu ul.two-depth {display:none; position:absolute; width:170px; background:#fff; border:1px solid #d5d5d5; border-top:5px solid #006b60}
#header .topmenu ul.two-depth > li {position:relative; border-top:1px solid #d5d5d5}
#header .topmenu ul.two-depth > li:first-child {border-top:0}
#header .topmenu ul.two-depth > li > a {display:block; height:44px; padding-left:10px; line-height:44px; color:#333; font-size:18px; font-weight:100}
#header .topmenu ul.two-depth > li > a.holder {background:url('/Resource/images/icon_gnb_arr_off.png') no-repeat 90% 50%}
#header .topmenu ul.two-depth > li:hover > a {color:#e12e2e}
#header .topmenu ul.two-depth > li:hover > a.holder {background-image:url('/Resource/images/icon_gnb_arr_on.png')}
#header .topmenu ul.two-depth > li:hover > ul.three-depth {display:block}

#header .topmenu ul.three-depth {display:none; position:absolute; top:-1px; left:100%; width:165px; background:#fff; border:1px solid #d5d5d5}
#header .topmenu ul.three-depth > li {height:45px; border-top:1px solid #d5d5d5}
#header .topmenu ul.three-depth > li:first-child {height:44px; border-top:0}
#header .topmenu ul.three-depth > li > a {display:block; height:44px; padding-left:10px; line-height:44px; color:#333; font-size:18px; font-weight:100}
#header .topmenu ul.three-depth > li > a.holder {background:url('/Resource/images/icon_gnb_arr_off.png') no-repeat 90% 50%}
#header .topmenu ul.three-depth > li:hover > a {color:#e12e2e}
#header .topmenu ul.three-depth > li:hover > a.holder {background-image:url('/Resource/images/icon_gnb_arr_on.png')}
#header .topmenu ul.three-depth > li:hover > ul.four-depth {display:block}

#header .topmenu ul.four-depth {display:none; position:relative; top:-45px; left:100%; width:165px; background:#fff; border:1px solid #d5d5d5}
#header .topmenu ul.four-depth > li {border-top:1px solid #d5d5d5;}
#header .topmenu ul.four-depth > li:first-child {border-top:0; border-bottom:0px;}
#header .topmenu ul.four-depth > li > a {display:block; padding-left:10px; line-height:44px; color:#333; font-size:18px; font-weight:100}
#header .topmenu ul.four-depth > li:hover > a {color:#e12e2e}

/* 2020.09.14 컨테이너 상단여백 수정 -> LINE47 */
#container {display:flex; flex-direction:column; padding:100px 80px 0;}
#container:after {content:""; display:block; clear:both; overflow:hidden}
#container h2 {margin:0 auto; padding:30px 0 22px; color:#000; font-size:16px; font-weight:bold; letter-spacing:-0.5px}
#container .pagenavi {display:flex; justify-content:flex-start; margin:20px 0; clear:both;}
#container .pagenavi ul:after {content:""; display:block; clear:both; overflow:hidden}
#container .pagenavi ul li {float:left; margin-left:8px; line-height:1}
#container .pagenavi ul li:first-child {margin-left:0; padding-left:0; background:none}
#container .pagenavi ul li a {display:block; width:100%; height:100%; color:#888; font-size:13px; font-weight: 400}
#container .pagenavi ul li.last a {border-bottom:1px solid #000;}
#container .contentsarea > [class^='page-'] {clear:both; margin:0 auto}
#container .contentsarea.main {display: flex; flex-direction: column; align-self: center;min-width:1850px; max-width: 1850px; padding:0 80px;}

#footer {width: 100%; background: #efefef; border-top:1px solid #dfdfdf; text-align:center; color:#000; font-weight: 800; margin-top: 80px;}
#footer p {display:inline-block; line-height:65px; }