﻿@charset "UTF-8";

.table-wrapper {}
.table-wrapper::after { content:''; display:block; overflow:hidden; clear: both; }
.table-wrapper > div { max-width: 850px; width: 100%; }
.table-wrapper .table-notice { float: left; }
.table-wrapper .table-tech { float: right; }

.table-wrapper > [class^='table-'] h2 { line-height: 1; }
.table-wrapper .boardlist table { width: 100%; table-layout: fixed; }
.table-wrapper .boardlist table tbody tr { background: #fff; }
.table-wrapper .boardlist table tbody tr:not(:last-child) { border-bottom: 4px solid #f9f9f9; }
.table-wrapper .boardlist table tbody tr td { height: 60px; }
.table-wrapper .boardlist table tbody tr td.number { text-align: center; color:#888; font-size: 18px; font-weight: 100;}
.table-wrapper .boardlist table tbody tr td.title a span { white-space: nowrap; overflow: hidden; word-break: break-all; text-overflow: ellipsis; -o-text-overflow: ellipsis; vertical-align: middle; display: inline-block; max-width: 100%; color:#000; font-size:16px; font-weight: 400; text-decoration:none;}
.table-wrapper .boardlist table tbody tr td.title a:hover span {position: relative; color: #e12e2e; text-decoration:none; }
.table-wrapper .boardlist table tbody tr td.title a:hover span::after { content: ''; position: absolute; left: 0; bottom: 2px; width: 100%; height: 1px; background: #e12e2e; text-decoration: none;}
.table-wrapper .boardlist table tbody tr td.date { text-align: center; color:#888; font-size: 15px; }
.table-wrapper .paging { margin-top: 28px; }

