﻿

.noticebox {
    position: relative;
    width: 100%;
    /*background: #888;*/
    background: #75999e;
    padding: 1px 10px;
}

.noticebox > .noticetitle {
    width: 100%;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    margin: 2px 2px;
}

.noticetitle > .noticecontenttext {
    font-size: 13px;
    font-weight: 800;
}

.noticebox > .noticecontent {
    height: 2.0rem;
    line-height: 1rem;
    position: relative;
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    color: #ffffff;
    margin: 5px 2px;
}



.noticecontent > .noticecontenttext {
    position: absolute;
    top: 0;
    animation: slide 12s infinite;
    font-size: 13px;
}

@keyframes slide {
    0% {
        top: 0;
    }

    25% {
        top: -4rem;
    }

    50% {
        top: -8rem;
    }

    72.5% {
        top: -12.25rem;
    }
}

@media screen and (max-width: 600px) {

    .noticecontent {
        height: 2.6rem;
        line-height: 1.125rem;
    }

    .noticecontent > .noticecontenttext {
        animation: slide-mob 12s infinite;
    }

    @keyframes slide-mob {
        0% {
            top: 0;
        }

        25% {
            top: -2.125rem;
        }

        50% {
            top: -4.25rem;
        }

        72.5% {
            top: -6.375rem;
        }
    }
}
