﻿@charset "UTF-8";

/* font */
@font-face{font-family:kt; font-weight:100; font-style:normal; src:url(/Resource/css/font/KTfontThin.eot); src:local("※"), url(/Resource/css/font/KTfontThin.woff) format("woff"), url(/Resource/css/font/KTfontThin.ttf) format("TrueType");}
@font-face{font-family:kt; font-weight:200; font-style:normal; src:url(/Resource/css/font/KTfontLight.eot); src:local("※"), url(/Resource/css/font/KTfontLight.woff) format("woff"), url(/Resource/css/font/KTfontLight.ttf) format("TrueType");}
@font-face{font-family:kt; font-weight:400; font-style:normal; src:url(/Resource/css/font/KTfontMedium.eot);src:local("※"), url(/Resource/css/font/KTfontMedium.woff) format("woff"), url(/Resource/css/font/KTfontMedium.ttf) format("TrueType");}
@font-face{font-family:kt; font-weight:800; font-style:normal; src:url(/Resource/css/font/KTfontBold.eot); src:local("※"), url(/Resource/css/font/KTfontBold.woff) format("woff"), url(/Resource/css/font/KTfontBold.ttf) format("TrueType");}
 
/* reset */
*{margin:0; padding:0; outline:0; -webkit-text-size-adjust:none; -webkit-overflow-scrolling:touch; -webkit-box-sizing:border-box; box-sizing:border-box}
html{width:100%; height:100%}
body{width:100%; height:100%; color:#4c4c4e; line-height:1.5; font-size:15px; word-break:keep-all; word-wrap:break-word}
ul,ol,li{list-style:none}
a{color:inherit; text-decoration:none; cursor:pointer}
em,address,i{font-style:normal}
dt,strong,em,b{font-weight:800}
img,input,textarea,button{vertical-align:middle}
hr{font-size:0; line-height:0; border:0}
pre{white-space:pre-line; word-break:break-all}
img{border:0}
input[type=radio]{-webkit-appearance:radio;}
input[type=checkbox]{-webkit-appearance:checkbox;}
input,textarea{-webkit-appearance:none; -moz-appearance:none; appearance:none; border-radius:0}
input[type="number"]::-webkit-outer-spin-button,input[type="number"]::-webkit-inner-spin-button {-webkit-appearance:none; margin:0}
input::-ms-clear,textarea::-ms-clear{display:none}
input::placeholder {padding-left:3px; font-size:12px !important;}
input::-webkit-input-placeholder,textarea::-webkit-input-placeholder{color:#949494; font-size:15px; font-weight:200}
input:-moz-placeholder,textarea:-moz-placeholder{padding-left:3px; color:#949494; font-size:12px; font-weight:200; }
input::-moz-placeholder,textarea::-moz-placeholder{padding-left:3px; color:#949494; font-size:12px; font-weight:200}
input:-ms-input-placeholder,textarea:-ms-input-placeholder{color:#949494; font-size:1.6rem; font-weight:200}
input[type="text"],input[type="password"],input[type="file"]{display:block; padding:0; background:#fff; border:0; border-radius:0; color:#4c4c4e}
input[type="text"]:disabled,input[type="password"]:disabled,input[type="file"]:disabled{background:#e6e6e6; color:#999}

textarea{display:block; overflow-x:hidden; overflow-y:auto; resize:none; width:100%; min-height:150px; padding:0 14px; border:1px solid #dfdfdf; background:#fff; border-radius:2px; color:#000; font-size:13px}
select{-webkit-appearance:none; -moz-appearance:none; appearance:none}
select::-ms-expand {display:none}
button{background:transparent; border:0; cursor:pointer}
fieldset{margin:0; padding:0; border:0; background:0}
fieldset legend{visibility:hidden; font-size:0; line-height:0}
table{border-collapse:collapse}
caption{visibility:hidden; width:0; height:0; overflow:hidden; font-size:0}
body,button,input,textarea,select,pre{font-family:kt,Dotum,Arial,sans-serif; font-weight:200; letter-spacing:0.2px}