﻿.datalist {margin-top: 12px !important;}
.list-top { margin: 10px 0px !important;}
.tab{float:left; width:600px; height:290px;}
.tabnav{font-size:0; width:100%;}
.tabnav li{display: inline-block; height:40px; text-align:center; list-style:none; font-weight: 600;}
.tabnav li:not(:first-child) {margin-left: 14px;}
.tabnav li a:before{content:""; position:absolute; left:0; bottom:0px; width:100%; height:2px;}
.tabnav li a.active:before{background:#0eaba7;}
.tabnav li a.active{border-bottom:1px solid #fff;}
.tabnav li a{position:relative; display:block; color: #9a9fb2; font-size: 16px; line-height: 40px; text-decoration:none;}
.tabnav li a:hover,
.tabnav li a.active{color:#0eaba7;}
.tabcontent{padding: 0px; height:244px;border-top:none;}