﻿th {
    font-size: 12px;
    box-sizing: border-box;
    padding: 8px;
    line-height: 20px;
    /*border-left: 1px solid #ddd;*/
    font-weight: 400;
    border-bottom: 1px solid #ddd;
    /*border-right: 1px solid #ddd;*/
    width: 50%;
    background-color: #e4eaf2;
    border-top: 0;
}

tbody {
    font-weight: 400;
    font-size: 13px;
    /*font-family: 나눔고딕, NanumGothic, qportal_font, 돋움, Dotum, 맑은고딕, MalgunGothic, Arial;*/
    color: rgb(62, 69, 76);
    line-height: 1;
    border-spacing: 0;
    border-collapse: separate;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

fieldset legend {
    visibility: visible;
}


.inpbox input {
    line-height: 0px !important;
}

.mdate {
    width: 62px !important;
    padding: 10px 5px 10px 6px !important;
}

.topContent {
    border-bottom: 2px solid #dfdfdf;
    background: #ffffff;
}

.spaceline {
    margin: 10px;
}

.fieldsetSpan {
    margin: 3px 0 3px 0;
    font-size: 0;
    padding: 10px;
}

.fieldsetLabel {
    margin: 0 !important;
    width: 20%;
}

.fieldsetLabel2 {
    float: right;
    font-size: 13px;
    font-weight: 300;
    width: 130px;
    line-height: 56px;
}

.fieldsetTextbox {
    width: 54% !important;
}

.fieldset {
    font-size: 13px !important;
    /*font-family: 나눔고딕,NanumGothic,qportal_font,돋움,Dotum,맑은고딕,MalgunGothic,Arial;*/
}

.data-group, .total-data {
    width: 100%;
}

.total-data .tit-area {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #bdf2f4;
    height: 46px;
    border-radius: 6px;
    margin-bottom: 10px;
}

.total-data .tit-area h3 {
    font-size: 14px;
}

.scrollbox {
    background: #fff;
    padding: 15px;
}

#container h2 {
    margin-bottom: 9px;
}


.view-data-list-body {
    font-weight: 400;
    font-size: 13px;
}


.table-bordered {
    color: rgb(62, 69, 76);
    border-spacing: 0;
    width: 100%;
    margin-bottom: 20px;
    border: 2px solid #e6e8f0;
    border-bottom: 1px solid #e6e8f0;
    border-collapse: separate;
    border-radius: 5px;
    overflow-x: auto;
    overflow-y: visible;
}

.table-first-header {
    border-top: 0;
    border-top-left-radius: 3px;
    border-left: 0;
}

.table-header {
    align-items: center;
    justify-content: center;
    background-color: #bdf2f4;
    height: 24px;
    font-weight: 800;
    color: #555;
    border-right: 0;
}

.fieldset-legend {
    /*font-family: 나눔고딕,NanumGothic,qportal_font,돋움,Dotum,맑은고딕,MalgunGothic,Arial;*/
    width: 100%;
    line-height: 40px;
    color: #333;
    border-bottom: 1px solid #e5e5e5;
    font-size: 1.2em !important;
    font-weight: 800;
    margin-bottom: 10px;
}

.table-cell {
    font-weight: 100;
    /*font-family: 나눔고딕, NanumGothic, qportal_font, 돋움, Dotum, 맑은고딕, MalgunGothic, Arial;*/
    color: rgb(62, 69, 76);
    border-spacing: 0;
    border-collapse: separate;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    /*padding: 8px 14px;*/
    padding: 8px;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
    position: relative;
    border-bottom: 1px solid #e6e8f0;
    border-top: 0;
    font-size: 12px;
    background-color: white;
    width: 40%;
}

.table-cell.td_backwhite {
    width: 60%;
    text-align: center;
}

.table-cell.td_backwhite span {
    color: #333;
    /*font-weight: 800;*/
}

.table-cell:first-child {
    white-space: pre-line;
    background-color: #fafafc;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.table-cell:last-child {
    /* border-right: 1px solid #e6e8f0; */
    white-space: pre-line;
    background-color: white;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.table-cell2 {
    font-weight: 100;
    /*font-family: 나눔고딕, NanumGothic, qportal_font, 돋움, Dotum, 맑은고딕, MalgunGothic, Arial;*/
    color: rgb(62, 69, 76);
    border-spacing: 0;
    border-collapse: separate;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    /*padding: 8px 14px;*/
    line-height: 0px;
    vertical-align: middle;
    border-bottom: 1px solid #e6e8f0;
    border-top: 0;
    font-size: 12px;
    background-color: white;
}

.table-cell2.td_backwhite {
    width: 60%;
    text-align: center;
}

.table-cell2:first-child {
    white-space: pre-line;
    background-color: #fafafc;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.table-cell2:last-child {
    /* border-right: 1px solid #e6e8f0; */
    white-space: pre-line;
    background-color: white;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.td_backwhite {
    background: #fff !important;
}

.td_left {
    text-align: left !important;
}

.td_right {
    text-align: right !important;
}

.td_center {
    text-align: center !important;
}

.td_bordertop {
    border-top: 1px solid #e5e5e5;
}

.td_width10 {
    width: 10%;
}

.td_width20 {
    width: 20%;
}

.td_width35 {
    width: 35%;
}

.td_width40 {
    width: 40%;
}

.td_width45 {
    width: 45%;
}

.td_width50 {
    width: 50%;
}

.last {
    border-right: 0;
}

.alert-info {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    color: #666;
    line-height: 20px;
    font-size: 13px;
    padding: 10px;
    font-weight: 300;
}

.alert {
    word-wrap: break-word;
}

.btn-lightgray {
    display: inline-block;
    min-width: 65px;
    height: 33px;
    padding: 0 13px;
    background: #ececec;
    text-align: center;
    line-height: 33px;
    border-radius: 2px;
    font-size: 14px;
    font-weight: 300;
    border: 1px solid #ddd;
}

.read-only {
    background: #eaeaea !important;
}

.btn-area {
    display: flex;
    justify-content: end;
}

.border_right {
    border-right: 1px solid #ddd;
}